

form {
  margin-top:110px;
  margin-left: 33%;
  margin-bottom: 120px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: left;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form input[type="file"],
form select {
  display: flex;
    box-sizing: content-box;
    border: 3px solid #0a0000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 95%;
    border-color: antiquewhite;
    margin-left: 0%;
    padding: 10px;
}

form input[type="checkbox"] {
  margin-right: 10px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  color: black;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
}