#nombre {
    display: flex;
    box-sizing: content-box;
    border: 3px solid #0a0000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 95%;
    border-color: antiquewhite;
    margin-left: 0%;
}
#volver a {
    font-size: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: antiquewhite;
    
    margin-right: 10px;
    text-decoration: none;
    color: inherit; 
}

#crear{
    color: black;
}

#volver{
    color: black;
    border-radius: 8px;
    width: 10%;
    padding: auto;
}
